[2013-09-03 12:26] JacpFX opened #1 "@PostConstruct lifecycle"
Check that @PostConstruct in Components is always executed in Worker Thread. To avoid problems with context methods ensure that all UI methods in context object are surrounded by "invokeLater".

[2013-09-03 13:37] JacpFX opened #2 "Handle @View without targetLayout"
a.) @View has an invalid initialTargetLayoutId AND a return value... EXCEPTION
b.) @View has an empty initialTargetLayoutId AND a return value... EXCEPTION
c.)  @View has an empty initialTargetLayoutId AND NO return value.. OK
d.) @View has a VALID initialTargetLayoutId AND NO return value  ... remove old one OK

[2013-09-03 21:17] JacpFX opened #3 "Check for unique component/perspective and dialog id's"
assist in keeping ids unique, check in registry if id is unique... take care of dialogs

[2013-09-03 21:18] #2 closed, assigned to amoAHCP

[2013-10-03 15:02] #3 closed, assigned to amoAHCP

[2014-01-28 11:23] gratta opened #4 "New Feature: AFXSpringLauncher using AnnotationConfigApplicationContext instead of ClassPathXmlApplicationContext"
Hi,

Is it planned to add an abstract class AFX Spring Launcher which uses AnnotationConfigApplicationContext  instead of  ClassPathXmlApplicationContext ?

Regards

[2014-01-31 09:30] #4 closed, assigned to amoAHCP

[2014-01-31 15:41] gratta opened #5 "Wrong spelling of method getWorkbechClass in AFXSpringJavaConfigLauncher"
protected abstract Class<? extends FXWorkbench> getWorkbechClass();

should be replaced by protected abstract Class<? extends FXWorkbench> getWorkbenchClass();

[2014-02-03 20:55] #5 closed, assigned to amoAHCP

[2014-03-12 20:14] amoAHCP opened #6 "HBox in perspective overlaps toolbar"
When creating an perspective with an HBox instead of an SplitPane the HBox overlaps the toolbar

[2014-03-19 20:51] amoAHCP opened #7 "Add button to toolbar in component does not work"
Adding a button without explicit id does fail, no button appears in toolbar.
JACPToolBar toolbar = layout.getRegisteredToolBar(ToolbarPosition.NORTH);
toolbar.addOnEnd(new Button("dfsdfsd"));

Adding a button with explicit id works.
JACPToolBar toolbar = layout.getRegisteredToolBar(ToolbarPosition.NORTH);
toolbar.addOnEnd("xyz",new Button("dfsdfsd"));

[2014-04-08 05:04] PETE-CH opened #8 "FlippingPanel throws Exception"
FlippingPanel throws exception when changing front or backside panel.

[2014-04-08 05:08] #8 closed, assigned to PETE-CH

[2014-07-11 08:20] #7 closed, assigned to PETE-CH

[2014-07-14 19:23] #1 closed, assigned to amoAHCP

[2014-08-20 09:28] amoAHCP opened #9 "Provide correct cause Message when FXML loading fails"
In FXUtil the provided FXML url will be resolved. When the FXML is invalid the correct cause message should be provided

[2014-09-11 12:00] amoAHCP opened #10 "Empty perspective when switch to new Perspective"
Two Perspectives (both active), both with a SplitPane as Root and GridPanes as targets. Two Components, returning a Label. Both Components assigned to Perspective one and two... when switching from P1 to P2 no content is visible, also all Nodes are available. When P2 is initially deactivated, everything works ok.

[2014-09-11 12:02] #10 closed, assigned to amoAHCP

[2014-09-11 12:08] amoAHCP opened #11 "ToolBar button management fails on two perspectives when second is initially inactive"
Two Perspectives (quickstart archetype), set Perspective 2 as deactivated (in annotation), start the application and press button to switch to Perspective two. In this case all Buttons from Perspective one are visible also they should be hided.

[2014-12-06 23:02] javasparx opened #12 "Spring Boot support"
I use JacpFX. And want to share my implementation, made using Spring Boot.
THANK YOU...

**SpringBootLauncher.java**

[code]

**AFXSpringBootLauncher.java**

[code]

**Dependency in pom.xml**

[code]

[2014-12-14 21:56] javasparx opened #13 "How can I deal with Accelerators?"
I want to bind my button with shortcut, e.g. F2, CTRL+2...
Scene always comes null in method postHandle(Node, Message).
I know that I can get main scene and set accelerators but it triggers in all perspectives.

How can I set accelerators only for one perspective?
Is there any trick?

[2014-12-15 10:04] amoAHCP opened #14 "animated transitions between perspectives"
Allow definition of transition animation when perspective appears or disappears

[2014-12-15 12:08] amoAHCP opened #15 "enhanced baselayout for mobile and embedded devices"
The base UI with toolbar is optimized for Desktop UI,
- optimize the UI to work on small screens
- add option to hide/show toolbars

[2014-12-15 12:15] amoAHCP opened #16 "Provide qualified ID in context"
currently the Context API provides ID & parentId ... provide fully qualified id by default

[2014-12-15 12:19] amoAHCP opened #17 "navigation flow between perspectives"
provide the ability to define navigation flows between perspectives

[2014-12-15 13:33] amoAHCP opened #18 "define a modules system for JacpFX"
JacpFX allows you to create several packages containing Perspectives and Components but there is no defined structure to create packages.
What should be able:
- define module with 1 perspective and many components
- define own classloader per module
- allow reload module
- allow update module

[2014-12-16 12:47] amoAHCP opened #19 "Preserve view state"
Currently JacpFX creates always the initial state of you perspective/components. Make it possible to save the state and to revert to the last view state.

[2015-01-02 05:16] javasparx commented on #13
Hi Andy,

Thank you for your response.

How to define which perspective is on top (is shown)?

Thank u in advance.

[2015-01-11 10:43] JacpFX commented on #13
Hi,
currently it is defined by the order in the @workbench annotation.

Andy

[2015-01-20 22:43] kost-ru opened #21 "Unable to run simple project from archetype using gradle"
Hey guys,

I've recently started playing with your framework and as a fan of gradle, I converted maven project into gradle one. After running main class I've got 5-6 ClassNotFoundException.
The problem was with ClassFinder:170. You assumed, that all class-files with package-dirs are in "classes"-folder. But gradle keeps file in a bit different way:
[code]
I've fixed in this pull-request (https://g

[2015-01-23 07:51] amoAHCP commented on #21
Hi Konstantin,
thank you for your efforts. Can you please provide me a JacpFX gradle example project? I am new to gradle but I would like to test the implementation with maven and gradle… with you push request I’am unsure if it still works in maven. With an example project and your changes I can manage to run JacpFX in both worlds.

Thank you and regards

Andy

Andy Moncsek
amo@mailbox.org

[2015-01-23 07:58] kost-ru commented on #21
Hi Andy,

sure, I will upload the project to the google.drive then.

Regards,
Konstnatin

[2015-01-24 18:19] kost-ru commented on #21
Hi Andy,

I investigated my case more careful:
I use IDEA as IDE and gradle as build system.
IDEA can use gradle’s dependencies and allows to run main-class regardless to maven/gradle goals/tasks.

When I execute main-class (button Run), IDEA compiles all classes to /build/production/%project_name% and then launches main-class.

Here is the simple project (https://drive.google.com/file/d/0B02wOMjV

[2015-01-27 07:18] JacpFX commented on #11
Fixed by checking previous perspective while initializing new perspective

[2015-01-27 07:18] #11 closed

[2015-01-27 11:33] JacpFX commented on #16
Context now contains getQualifiedId

[2015-01-27 11:33] #16 closed

[2015-03-01 23:37] suyambuganesh opened #22 "Is it possible to use Spring's annotation(@Service, @Autowired and @EnableScheduling) with jacpfx"

[2015-03-02 06:47] amoAHCP commented on #22
Hi, yes you can use it. By default the JacpFX spring laucher is configured in the archetype. You can choose Spring xml or programmstic configuration and all JacpFX components will be "normal" spring beans.

Andy

[2015-03-02 08:22] suyambuganesh commented on #22
Hi Andy,

Thank you for your response. I will try it and get back to you if I have any other questions.

[2015-03-02 08:22] #22 closed

[2015-03-02 09:49] ganeshgitrepo opened #23 "Provide SPI for persisting events"
Hi Andy,

I think it would be nice to provide an SPI to enable persisting all the events generated by the user interaction with the application. Which can be useful in finding\analyzing the user behavior.

Something like durable message queue?

Thanks

[2015-03-02 09:59] amoAHCP commented on #23
Hi,
currently it is not that easy to analyze the messages… but it should be easy to extend JacpFX to provide a SPI which allows you to track/persist the messages. Let me analyze this… but I think this could be a nice feature for 2.1.

Andy

[2015-03-02 22:15] suyambuganesh opened #24 "UI FXComponent doesn't recognize the controls in fxml file, imported using fx:include"
Hi Andy,

FXComponent view doesn't initialize the controls in the fxml file which are included using tag <fx:include>. In the below example, the control with id apperror is null in the instantiated FXComponent

for example,

contents of main.fxml
[code]
contents of footer.xml
[code]

[2015-03-03 07:28] amoAHCP commented on #24
Hi,
currently the FXComponent / FXML binding is only for the root FXML. I assume that you want to bind the "HBox" and the "BorderPane" FXML to the same FXComponent. This is currently not supported by JacpFX directly (I must check if I can provide this because this can be an unwanted behavior to set the FXComponent to all chlid files)... a valid way to do is this one: https://github.com/sialcasa/jf

[2015-04-16 12:47] amoAHCP commented on #15
With 2.1 the WorkbenchDecorator is customizable. The default decorator works primary for large screen devices. Currently there are no plans to implement other "default" decorators, but when a specific (mobile) layout is needed you can implement one and register it in your applicationLauncher.

[2015-04-16 12:47] #15 closed

[2015-04-16 12:51] amoAHCP commented on #6
The new DefaultWorkbenchDecorator uses a different layout structure than before so this issue is not valid anymore. If you need the "old" decorator you can overwrite the getWorkbenchDecorator method in your application launcher and provide the DefaultLegacyWorkbenchLauncher.

[2015-04-16 12:51] #6 closed

[2015-04-21 06:38] mamayoleksandr opened #25 "How to access stage from non-workbench class?"
For example, to set localized stage title?

[2015-04-22 10:46] amoAHCP commented on #25
Hi, sorry but the stage will not be provided outside the workbench. Create your own resource bundle in the workbench and localize the stage.

Andy

[2015-04-22 10:49] #9 closed

[2015-04-23 20:02] amoAHCP opened #26 "Fluent concurrency API provided by JacpContext"
Provide a CompletableFuture like API to execute tasks and GUI updates. "Abstract" CompletableFuture and reduce API complexity.
My current test implementation is like that:

context.getAsyncHandler().
                supplyOnExecutorThread(() -> service.getAllValues()).
                functionOnExecutorThread((values) -> values.stream().map(val->new Button(val.toString())).collect(Collectors.toLis

[2015-04-29 15:10] mamayoleksandr commented on #25
ok, thanks.
for curiosity sake what is the reason that stage not available in ui components? There are ui classes which expect stage instanse, for example FileChooser.

[2015-04-29 15:34] amoAHCP commented on #25
Hi, you are right. I must admit that I never used FileChooser and no one asked for it. The idea behind "hiding the stage" was simply that one can do too many dirty things with the node hierachie. I'll add a way to access the stage in 2.1.

Andy

[2015-04-29 15:40] mamayoleksandr opened #27 "Access toolbar and menu from a (ui)component"
Am sorry, this question might be not that relevant, but am new to javafx and jacp. If there is a need to disable menu button from UI component, how would I do that?

thanks.

[2015-04-30 14:29] mamayoleksandr commented on #25
Thanks, that makes sense.

[2015-04-30 15:26] amoAHCP commented on #27
Hi, the way to go is the FXComponentLayout ... you can get the reference to FXComponentLayout in any @PostConstruct method (in perspectives or components)... from the FXComponentLayout you can get your registered toolbar (north, south, west, east)... when you have your toolbar reference you can add Buttons / Regions to your toolbar in two ways:
1.) simply add(button)... than it will be managed by

[2015-05-11 09:56] misty000 opened #28 "CSS Error parsing"
警告: CSS Error parsing jar:file:/C:/Users/xxx/.m2/repository/org/jacpfx/jacpfx.JavaFX/2.0.2/jacpfx.JavaFX-2.0.2.jar!/styles/jacp-styles.css: Expected LBRACE at [1,9]

@CHARSET "ISO-8859-1";

java1.8_45

[2015-05-16 15:58] mamayoleksandr opened #29 "Not all Nodes can be used as targets"
Hi Andy,

For example, if I use ScrollPane as target in perspective component's ui is ignored and not injected into the target. So far GridPane is working fine for me as target.

thanks,

Alex.

[2015-05-16 16:04] JacpFX commented on #29
Hi Alex,
I had alteady used ScrollPanes as target?! Have you tried the ScienecView to analyze the Scene structure? Maybe it is a resizing issue? I will check it on monday when I am back...

Andy

[2015-05-17 10:32] mamayoleksandr opened #30 "Fragment to handle respones"
So currently a Fragment can send messages to components and callbacks, using context. How it would handle response from such calls? Would it work if fragment implements FXComponent?

[2015-05-17 15:15] mamayoleksandr commented on #25
OK, while this feature is not released yet, I have sorted it in following way:
1. create singleton spring component, eg Placeholder, with stage property
2. reference it in workbench, and assign stage to it
3. since it is spring component one can link to any jacp component or fragment and use stage there

[2015-05-17 15:19] mamayoleksandr commented on #30
Hi Andy,

if message is sent from a Fragment to to a Callback (assuming response should be sent to caller by default), I got such exception:
INFO: org.jacpfx.api.exceptions.ComponentNotFoundException: no perspective for message : wMain.pMain found
	at org.jacpfx.rcp.delegator.MessageDelegatorImpl.handleCall(MessageDelegatorImpl.java:60)
	at org.jacpfx.rcp.delegator.MessageDelegatorImpl.run(Message

[2015-05-20 07:54] misty000 opened #31 "Inaccurate exception"
org.jacpfx.rcp.util.FXUtil  line 310

fxmlLoader throw an exception: javafx.fxml.LoadException: Resource "hello" not found.
/E:/devel/JacpFXSample/build/resources/main/fxml/ComponentRight.fxml:10
It means the fxml is exists, and some resource defined in fxml not found.

FXUtil report "fxml file not found ...", it is misleading.

[2015-05-20 08:00] amoAHCP commented on #31
Hi,
this bug is fixed for Version 2.1 https://github.com/JacpFX/JacpFX/issues/9

THX for reporting

[2015-05-20 08:01] #31 closed

[2015-05-20 08:05] amoAHCP commented on #29
Hi Alex,
you are right ScrollPane uses "setContent". I find it a bit annoying that some Nodes works different, set a content pane to your ScrollPane and register this Pane as target. There is no general solution for this, because I want to avoid "automatic wrapping" because you loose control over your UI.

[2015-05-20 08:05] #29 closed

[2015-05-20 08:17] misty000 opened #32 "Let ClassFinder work in Gradle"
gradle compile Class to "projectRoot/build/classes/main", that ClassFinder can't find Perspectives and Components in "classes".
I rewrite ClassFinder#exctractClasses.

    private List<Class> exctractClasses(final String packageDir, List<String> files) {
        return files.stream()
                .map(Paths::get)
                .map(path -> binDirs.stream()        // find the right classpath o

[2015-05-20 08:38] amoAHCP commented on #32
Hi,
I have tested it with maven on OSX and it works... have you tested it with Windows? I have to test it on a Windows VM later. THX Andy

[2015-05-20 11:34] misty000 commented on #32
Do you think empty string ("") is allowed to "getBasePackages" to find all classes?
        @Override
        protected String[] getBasePackages() {
            return new String[]{"quickstart"};
        }
If it allowed, I make some changes in "exctractClasses".
    private List<Class> exctractClasses(final String packageDir, List<String> files) {
        return files.parallelStream()

[2015-05-21 15:56] misty000 opened #33 "@OnShow method not called on application start"
@OnShow method of default Perspective is not called on application start, and @OnHide method is not called on shutdown application.

五月 21, 2015 11:54:39 下午 org.jacpfx.jfxMPD.perspective.PerspectiveOne onStartPerspective
信息: on PostConstruct of PerspectiveOne
五月 21, 2015 11:54:39 下午 org.jacpfx.jfxMPD.callback.StatefulCallback onPostConstructComponent
信息: run on start of StatefulCallback
五月 21, 201

[2015-05-21 18:03] amoAHCP commented on #33
Hi, this is correct. You can use @PostConstruct and @Predestroy (see: http://jacpfx.org/documentation_main.html#Annotations%20overview19)... I wanted to separate those lifecycle events, because a Perspective can be started and is not visible.

Andy

[2015-05-22 00:24] misty000 commented on #33
@PostConstruct will call if a Perspective is not visible, but I want do something in visible Perspective.

for example:
Android Activity lifecycle is:

    GroovyActivity﹕ onCreate   // @PostConstruct first create activity
    GroovyActivity﹕ onStart      // @OnShow the activity is visible
    GroovyActivity﹕ onStop      // @OnHide another activity is visible

    GroovyActivity﹕ onStart      // @

[2015-05-22 06:21] amoAHCP commented on #33
Hi,
typically you can use @PostConstruct to build the UI of you perspective. I don't get what exactly you are missing. I can implement @PostConstruct->@OnShow but what is the usecase? Can you give me an example?

[2015-05-22 11:45] misty000 commented on #33
Hi,
For example, there are two perspectives, when application start, two @PostConstruct methods will be called. I just want do something in current visible perspective. for example, register EventBus on @OnShow, and unregister on @OnHide.

[2015-05-22 13:14] mamayoleksandr opened #34 "Enable 3D support"
Hi Andy,

is it possible to enabled 3d support for the scene? When creating Scene 4rth parameter (depthBuffer) should be true.
Method completeLayout() in AFXWorkbench inits Scene, but how to override or configure it?

thanks,

Alex.

[2015-05-22 13:56] amoAHCP commented on #34
Hi Alex, I am not an JavaFX 3d expert but I have an example: https://github.com/JacpFX/JacpFX-misc/blob/master/JavaFX8Demo/src/main/java/com/trivadis/com/component/Demo4Component.java ... the component is a JacpFX component. I hope it helps...

Andy

[2015-05-22 13:56] #34 closed

[2015-05-22 14:03] amoAHCP commented on #33
OK... got it. I will add it.

[2015-05-22 14:06] #28 closed

[2015-05-22 14:06] #27 closed

[2015-05-22 14:07] #24 closed

[2015-05-22 14:31] misty000 commented on #33
Great, I'm tring to do it myself today, but the project was so complicated :)

[2015-05-22 14:36] amoAHCP commented on #33
:-D I hope the result is not too complicated... but yes, the internals are not that easy... especially all the async stuff. If you are interested I can do some comments on the fix.

[2015-05-23 03:06] giovannicandido commented on #21
I'm having this issue too

[2015-06-03 17:58] #32 closed

[2015-06-16 08:27] Mehonidas opened #35 "I can not use onAction="#foo" in perspective- and component- FXML, BUG or FEATURE?"
Hi@ all,
if i tried to load a FXML structure in a perspective or a component, i got this error.
[code]
The FXML file include parts like this: ```<Button onAction="#save" text="Save" /> ```
If i deleted this part it works!

Is this a bug, a feature or what i am doing wrong?

Thank you for response!

Greetings Meho

[2015-06-17 11:48] Mehonidas opened #36 "How to register the center of BordPane as an target layout?"
Hi again :-),

if i write this:
[code]
I got this:
[code]
P_Contact is the ID of BasicConfig.P_CONTACT.
contentArea is the name of my BorderPane in FXML and i injected it like this:
[code]
Is it possible to register a center of BorderPane?

THX!
Greetings Meho

[2015-06-17 11:56] JacpFX commented on #36
Hi, it looks like if your BorderPane center is null... ? Did you set any node on the center? If not you should do it (BorderPane should not provide a "default node" ) see https://docs.oracle.com/javase/8/javafx/api/javafx/scene/layout/BorderPane.html

Andy

[2015-06-17 11:59] amoAHCP commented on #35
Hi, this is simply a bug which gives you the incorrect stacktrace. This will be fixed in JacpFX2.1... if you can't find the cause I can show you where to set the breakpoint to get the correct cause.

Andy

[2015-06-18 10:23] Mehonidas commented on #36
Hi Andy,
thank you for your response!
You have right, I do not have a node inside the BorderPane, getCenter() return null.
But this is the question:
If the BorderPane is the leaf of my perspective and i want fill it with a component how can i put the component to the center of the BorderPane?

greetings Meho :-)

[2015-06-18 10:29] Mehonidas commented on #35
Hi Andy,
i work around and set onAction() in the JavaFX code and not in FXML.
Thank you for the response. So i dont search for a mistake at the wrong position!

Bye Meho

[2015-06-23 14:53] amoAHCP commented on #36
Hi, you always need a wrapper/container. So you can add a Group to your BorderPane center. This is more or less the way you wou would do it with plain JavaFX.

Andy

[2015-06-23 14:53] #36 closed

[2015-06-23 14:53] #35 closed

[2015-06-23 14:54] amoAHCP commented on #21
This is fixed but must be tested on windows

[2015-06-23 14:54] #21 closed

[2015-06-23 14:56] #17 closed

[2015-07-22 14:18] amoAHCP commented on #30
Hi, I have created a Test with Dialogs and CallbackComponents and it works as expected?! The Dialog is child of a FXComponent, inside the Dialog I send a message to a CallbackComponent (inside the same perspective AND to an other Perspective)... in both cases the CallbackComponent sends the return message back to the FXComponent, which is the parent of the Dialog. A Dialog can't be a message targe

[2015-07-23 18:23] benneq opened #37 "Some questions, impressions and possible improvements"
First of all: Nice project! It worked just out of the box with Spring.

Now my questions and suggestions:

`1.:`
Why are there workbench, perspective, components and fragments? It's clear to me that you want to define some abstraction for windows, layout, etc.
*But:* Wouldn't it be much simpler if there were only components? Each component can have 0-n child components. (and all the other stuff li

[2015-07-24 12:55] amoAHCP commented on #37
Hi, first of all thank you for you input...

maybe I simply go through your list:

1: workbench, perspective, components are more or less a "traditional" approach (I started Jacp in 2005). Anyway, I think this separation makes sense and helps the developer to structure and compose the application. When you only have one type of component you usually have a flat structure or you start to build up y

[2015-07-25 18:10] benneq commented on #37
Thank you for your reply :+1:

Regarding `1.`: This was just a thought, because all of your different components are pretty similar. I agree that there must be some different types. At least workbench and component, because workbench is basically a window and of course a window can't be placed inside another component or window. But for components it's different: As a developer all your perspectiv

[2015-07-30 19:47] JacpFX opened #38 "Move customizable parts from launcher to SPI"
Move customizable parts as "WorbenchDecorator" from Launcher implementation to SPI

[2015-07-30 20:00] JacpFX opened #39 "replace "handle" & "postHandle" methods by typed message annotations"
components and perspectives currently must implement a "handle" method and in some cases a "postHandle" method. You must manually check the type for each message, which can create some nasty code.
Idea: Instead of implementing the methods, allow typed annotations like:

"@HandleAsync(type=MyMessage.class) "
 Node  onAsyncMyMessage(MyMessage message);
or
"@HandleAsync(type=MyMessage.class) "
 Node

[2015-10-17 13:14] edvin opened #40 "Support TabPane as TargetLayoutComponent"
I'm would like to use TabPane as target (initialTargetLayoutId) for Views to mimic the editor area of an IDE, but a TabPane takes Tab instances, which are not subclasses of Node, so currently that doesn't seem possible.

I ended up creating a an FXComponent that wraps Node elements in a Tab before adding them to the TabPane, but for this I have to instantiate a  Fragment or just unmanaged JavaFX c

[2015-10-18 15:07] edvin opened #41 "Make @View.name() default to @View.id()"
In all my @View components I find myself setting the same value for the `id` and `name` attributes. It would be nice if `name` could default to the `id` attribute value if not specified.

I'm not completely sure why I need to specify `name` at all, I have had no use for it so far :)

[2015-10-18 15:13] edvin commented on #39
This sound really useful. Maybe the type attribute could be optional as well, and default to the method parameter type?

[2015-10-20 10:06] jlepropre opened #42 "Use of system class loader in ClassFinder"
Hello !

First of all, a big thank for your work and framework that is very useful for us!

I have recently tried to plug Load Time Weaving (LTW) in our application using Spring and AspectJ and I faced an issue: my aspect was not weaved.

It was due to the fact that the ClassFinder loads classes in base packages using the system class loader (see `org.jacpfx.rcp.util.ClassFinder.loadClass(String)`

[2015-10-20 12:00] jlepropre commented on #18
Hello!

We have a similar need for our application.

More specifically, we have an application:
- With one workbench.
- With one main menu perspective and one summary perspective.
- The summary perspective is composed by summary components (one per module).
- Each summary component allows to access the perspectives and components defined by the module.

Current solution consists in using:
- Spring

[2015-10-20 12:05] jlepropre opened #43 "JACP/pom.xml: dependency on junit should specify a "test" scope"
Hello!

The dependency on the JUnit framework declared in `JACP/pom.xml` should specify a `test` scope such that JUnit is not required to compile and execute projects that depend on JacpFX.

Many thanks in advance,
Best regards,
Jean.

[2015-10-20 20:23] amoAHCP commented on #42
Hi,
thank you...
i'll change it in the 2.1 branch and will test it. I can give you a hint when the snapshot is released, it would be nice when you can test it too.
THX
Andy

[2015-10-21 07:54] jlepropre commented on #42
Hi,

Of course, I will test it!

Thanks,
Jean.

[2015-10-21 10:50] amoAHCP commented on #39
agree... THX

[2015-10-21 19:00] amoAHCP commented on #42
Hi,
<dependency>
...
	<version>2.1-RC3</version>
</dependency>
 should be available on maven central.

Thanks,

Andy

[2015-10-21 19:56] jlepropre commented on #42
Hi Andy,

Ok, thanks, I will test it asap.

Cheers,
Jean.

[2015-10-22 08:19] jlepropre commented on #43
Fixed by 2.1-RC3.

Thanks,
Jean.

[2015-10-22 08:19] #43 closed

[2015-10-22 09:09] jlepropre commented on #42
Hi Andy,

I have just tested it and it does not work unfortunately: it is my mistake in fact. The issue is not the reported one but it comes from the fact that packages scanning is done before initializing the Spring context. As it is done before, classes are loaded with a class loader which has not been yet instrumented.

So in `org.jacpfx.spring.launcher.AFXSpringXmlLauncher` and `org.jacpfx.spr

[2015-10-22 09:13] JacpFX commented on #42
Hi,
I’ll check it later today and give you a hint when I published a new version… from my side it should be ok to switch class loading and spring initialization.

Andy

[2015-10-23 22:20] smgonzales opened #44 "ClassFinder.extractClasses Expects "classes" as part of path."
Hi,

Nice work on the framework!

I've been exploring the framework in the Intellij IDE and found I was not able to run my project in the IDE with the default Intellij class output path.

It appears the ClassFinder extractClasses method always expects a "classes" part of the file path, but that's the not the default that an Intellij IDE gives for a JavaFX project.  I'm able to change it in my proj

[2015-10-29 09:49] jlepropre commented on #42
Hi Andy,

Can I ask you if you got any chance to perform the change?

Thanks in advance for your answer!

Best regards,
Jean.

[2015-10-29 14:28] amoAHCP commented on #42
Hi, sorry I am still at J1. I’ll try to make either today at the hackergarden or in the airplane tomorrow.

Andy

[2015-10-29 15:55] jlepropre opened #45 "ResourceBundle injection in FXPerspective"
Hi Andy,

It seems that resource bundle is never injected the first time a FXPerspective is accessed.

Indeed, in case of `FXPerspective`, resource bundle injection is done at line 253 of `org.jacpfx.rcp.handler.PerspectiveHandlerImpl.initComponent(Message<Event, Object>, Perspective<Node, EventHandler<Event>, Event, Object>)` (calling `org.jacpfx.rcp.util.FXUtil.performResourceInjection(Injectabl

[2015-10-29 15:58] amoAHCP commented on #45
Hi.... can you provide the version of JacpFX (2.1-RC3 ?)

Andy

[2015-10-29 16:13] jlepropre commented on #45
Sorry. It is 2.1-RC3.

Jean.

[2015-10-29 18:32] amoAHCP opened #46 "Possible issue with Toolbar Buttons"
Possible issue with Toolbar Buttons while regression test... PerspectiveHandlerImple line 255. The code is currently working but when small change can cause unexpected behavior! Find out what is going on ...

[2015-10-29 19:32] amoAHCP commented on #44
Hi, JacpFX was written mostly using IntelliJ... are you using the archetype + maven or gradle? adopting JacpFX to a specific IDE has a low prio... with maven/gradle it is tested on IntelliJ, Netbeans, Eclipse on Linux, Mac and Windows.... so changing this will break a lot. You can provide a patch which should be tested on all those environments.

THX

Andy

[2015-10-29 19:39] amoAHCP commented on #42
Hi,
currently we have "return this.getClass().getClassLoader().loadClass(file);" .. in JacpFX3 it will change because I'll start to prepare it for Java9. Since a Java9 module has it's on classloader (perfect for me) this won't work. Be careful with this!

[2015-10-29 21:39] amoAHCP commented on #45
OK... so I pushed RC4 to maven central. I had very little time to test, hopefully nothing is broken... at least the UnitTests were fine ;-)
So let me know if both bugs are gone and thank you for your help.

Andy

[2015-10-29 21:51] smgonzales commented on #44
Hi,

I was using the stable version 2.0.2, but I switched to 2.1 RC-3 today and you fixed the problem.  You changed how extract classes works so it no longer has problems when the classpath doesn't include the word "class".

Thanks again for providing this framework!  I'll continue to explore it and learn.

Santiago

[2015-10-29 21:53] JacpFX commented on #44
Thank you

Andy

[2015-10-30 08:10] jlepropre commented on #45
Fixed by 2.1-RC4.

Thanks!

Jean.

[2015-10-30 08:10] #45 closed

[2015-10-30 08:48] jlepropre commented on #42
Fixed by 2.1-RC4.

Thank you very much!

Cheers,
Jean.

[2015-10-30 08:48] #42 closed

[2015-10-30 20:46] #44 closed

[2015-10-30 20:53] amoAHCP commented on #40
Hi, sorry for delay. Yes Tab is not extending Node which is really impractical.... try https://github.com/JacpFX/JacpFX-misc/blob/master/JavaFX8Demo/src/main/java/com/trivadis/com/perspective/TabPerspective.java ... hopefully it helps you. This is just a workaround but it works.

Andy

[2015-10-30 20:53] #40 closed

[2015-11-02 15:34] edvin commented on #40
Thanks :)

[2015-11-03 08:30] smgonzales opened #47 "Component "postHandle" Method Does Not Receive Message The 2nd Time Sent"
Hi,

I ran into an issue with 2.1-RC4 where a component is sending a message within the same component from the handle method.  The first time the component's postHandle method received the message, but the second time the component sent the same message the postHandle no longer received the message.  I have zipped up sample, but I'm not able to attach it to this issue.  I can provide the sample t

[2015-11-03 08:40] amoAHCP commented on #47
Hi,
can you provide a link to GoogleDrive or so?

Thank you

Andy

[2015-11-03 15:16] smgonzales commented on #47
Hi Andy,

Here is the sample.

https://drive.google.com/file/d/0B99ZSYhBwXOgNVdhZk5kcm4zbm8/view?usp=sharing_eid&invite=CPnyvdsM&ts=5638ce31

This may not be an issue.  I guess it depends upon if sending a message to a component should once again make that component active again or if you explicitly have to do it yourself once it's already been active once.  The sample will show you what I'm doing

[2015-11-10 10:20] amoAHCP commented on #46
fixed in 2.1 RC5 and 3.0 Alpha

[2015-11-14 20:23] amoAHCP commented on #46
small related issue with inactive perspectives. Will be fixed in RC6 & 3.0 Aplpha

[2015-11-14 20:44] amoAHCP commented on #46
published RC5 to maven repo with all fixes. Please test it as it may be the last RC version.

[2015-11-14 20:44] #46 closed

[2015-12-02 20:07] amoAHCP commented on #47
Hi Santiago, I took a look at your sample (nice to see that it is running as a simple IntelliJ project... havn't used it like this). The problem in your example is the context.active(false)... this is meant to be used when you really want to disable your component (shutdown)... I'll close this issue if it's ok for you.

Andy

[2015-12-02 20:07] #47 closed

[2015-12-02 20:48] smgonzales commented on #47
Thanks Andy, for looking at the sample.  In my case I do want to shutdown the component and then later activate it again.  I found that the "handle" method in the FXComponent still receives message so I'm able to set the component to active again which then allows the "postHandle" to receive messages and visibly display (set visible) the component.

I haven't had any other issues and your framewor

[2016-02-13 11:25] RAnders00 opened #48 "ThrowableWrapper is not thread-safe"
[`ThrowableWrapper`](https://github.com/JacpFX/JacpFX/blob/master/JACP.JavaFX/src/main/java/org/jacpfx/rcp/util/ThrowableWrapper.java) is not thread-safe, because it does not publish its invariants safely. You want to make its public field `final` or `volatile` (if writing is necessary)

Also, while you are at it, it might be a good idea to introduce a `equals`, `hashCode` and `toString` method as

[2016-02-13 11:38] JacpFX commented on #48
OK, thanks for the hint... for some reason it was volatile before.

[2016-03-30 00:05] smgonzales opened #49 "ResourceBundle not injectable into Callback Component?"
Hi Andy,

It seems a resource bundle should be injectable into a callback component based on the @Component annotation allowing the resource bundle location to be set.  I was getting a null pointer exception for a resource bundle in a callback component.

@Component(id = "MyComponentId",
        name = "My Component",
        resourceBundleLocation = "bundles.languageBundle")

I looked through the

[2016-03-30 07:52] amoAHCP commented on #49
Hi Santiago, you are right... The question is if Callback components really need the resourceBundle injection... I'll take a look at it. Andy

[2016-03-30 08:46] amoAHCP commented on #48
Fix was already in JacpFX-3.0 branch, see org.jacpfx.concurrency.ThrowableWrapper.

[2016-03-30 08:46] #48 closed

[2016-03-30 14:15] smgonzales commented on #49
Hi Andy,

I can give you a use case if that helps in your decision.

I have multiple callable components that process files.  In the case of one callable component, files are dragged into the UI and the file paths are sent to the callable component for processing since the processing should be done in the background due to the expensive nature of the processing.  Several files could be dragged and

[2016-04-27 05:53] #23 closed

[2016-06-02 14:20] l00tr commented on #25
Hello, is this still work in progress for a future release?
I like JacpFX very much, getting access to the stage out-of-the-box would be a nice addition for what I want to do.

[2016-06-02 14:28] amoAHCP commented on #25
Hi, yes it is... currently I do some cleanup/ internal rewrite. When it is finished I will go through all open issues.

THX
Andy

[2016-09-10 13:29] gxz04220427 opened #50 "some annotation conflict with java build-in package"
Hi,
I find some annotations used in jacpfx such as  @PostConstruct and @PreDestory is in the package `org.jacpfx.api.annotations`, but in the package ` javax.annotation` it also contain the @PostConstruct annotation. So I want to know what's the difference between these two annotations.
I want to integrate jacpfx into my springboot framework project. So I want to know how to operate these same nam

[2016-09-12 07:23] amoAHCP commented on #50
Hi, I had to introduce org.jacpfx.api.annotations since you can use JacpFX with many different DI containers and I wanted to avoid unwanted behavior. According to spring boot... I don't use it but there are many  people using it with JacpFX.

[2016-09-12 11:37] gxz04220427 commented on #50
Sorry,I can't find your introduce about org.jacpfx.api.annotations,could you give me a link? Thank you!!!

[2016-09-12 11:40] amoAHCP commented on #50
Hi... I ment "I created org.jacpfx.api.annotations" to avoid conflicts with other DI containers. The reason is, that you can use JacpFX without Spring or with Guice,.... see documentation here: http://jacpfx.org/documentation_main.html#Annotations%20overview19

[2016-09-12 11:50] gxz04220427 commented on #50
....Oh,But,when I want to use jacpFx in my springboot project,I will face the problem that many same named annotations but different means.How could I solve this problem.Thank you!!!

[2016-09-12 12:07] amoAHCP commented on #50
Hi, I'm not sure what you want to do... org.jacpfx.api.annotations.PostConstruct defines a Postconstruct for the JacpFX component (when it is ready to use)... If this JacpFX component is also a Spring bean (if you use it together with Spring) the javax.annotation.PostConstruct will be called when the Spring initialization is ready.... BUT you still have to wait until org.jacpfx.api.annotations.Pos

[2016-09-12 12:13] gxz04220427 commented on #50
So,I think I get it,Thank you very much.I con't find any framework for javafx in china. Thank you!!!

[2016-09-12 12:14] amoAHCP commented on #50
Have fune ;-)

[2016-09-12 12:14] #50 closed

[2016-09-17 14:59] mg-2014 opened #51 "Thread leaks and memory leaks when deactivating/activating components"
When components are deactivated and activated again I can observe the "old" `EmbeddedFXComponentWorker` threads still active although they shouldn't be. The problem doesn't appear every time I debug the code. It seems to depend on where I put breakpoints and delay the execution. See thread "ControlView" in the attached "jvisualvm" screenshot:

![threads](https://cloud.githubusercontent.com/assets/

[2016-09-17 16:19] mg-2014 opened #52 "Publish/subscribe pattern for components"
First of all I want to thank you for this framework and the effort you have put into it.

This issue relates to version 2.1 and is supposed to be a feature request.

We can send messages between components via `context.send()` but we need to provide the components we want to send a message to. It would be nice to have something like an event bus (publish/subscribe pattern) in addition. Maybe a sol

[2016-09-17 16:21] amoAHCP commented on #51
Hi Markus,
thanks for your analysis... I'll take a look.

Andy

[2016-09-17 16:47] mg-2014 opened #53 "NoSuchFieldException in AFXWorkbench"
`NoSuchFieldException` when calling `AFXWorkbench.unregisterComponent()` since there is no field `messageQueue` in AFXPerspective. The exception is not propagated but logged only:
[code]
I don't know if this is still relevant since the entire method is annotated by "remove this" in version 2.1.

(Issue is related to version 2.1.)

[2016-09-17 17:08] mg-2014 opened #54 "Fully qualified ID of a perspective contains the workbench ID."
The fully qualified ID of a perspective returned by `context.getFullyQualifiedId()` returns `<workbenchId>.<perspectiveID>`. A message received by a perspective will also have this string as the sender's ID. Yet I can't send a message to `<workbenchId>.<perspectiveID>` via `context.send()`.

I don't really know if this is a bug. But it looks somehow inconsistent when compared to components where t

[2016-09-17 18:26] mg-2014 opened #55 "Problem with multiple active components in the same target layout when switching perspectives"
The issue arises when there there are multiple components registered to the same target layout and you switch between perspectives. When switching to another perspective and then back, the components are added to the target layout in a different order or missing entirely.

In my example the target layout container is supposed to be a `StackPane`. Let's say you have 3 components A,B,C with C being

[2016-09-18 07:51] mg-2014 opened #56 "Refresh the application without restarting the JVM"
This issue is related to version 2.1 (and the current master as well) and is supposed to be a feature request.

The JVM's hot code replacement feature can be quite helpful when developing an application. When you do changes where you stay inside a single method it usually works as expected. When you change the layout or the styling of UI components it would work as well. However there is no docume

[2016-09-18 09:06] mg-2014 opened #57 "Problem with toolbar size and/or positions"
I've realized a problem with toolbar sizes and/or positions.

When I start the application it looks like this:
![after_startup](https://cloud.githubusercontent.com/assets/9593044/18614458/64b42f4a-7d8f-11e6-93d9-9766db071b9e.png)
There is no component active at application startup. Components are set to `active` state by menu selection later on. Note the `EAST` and `WEST` toolbar not being positio

[2016-09-18 09:23] mg-2014 opened #58 "Horizontal space between the window frame and the first menu"
This question is related to version 2.1.

There is always a horizontal space between the window frame and the first menu. What is the idea behind it and is there a way to reduce or entirely remove this space?
![after_startup](https://cloud.githubusercontent.com/assets/9593044/18614603/a747e7b4-7d91-11e6-93a5-ea7820dbae1e.png)

This space seems kinda odd. I'm looking at Eclipse and Firefox right no

[2016-09-19 10:20] amoAHCP commented on #57
Hi, this default Layout is defined in org.jacpfx.rcp.components.workbench.DefaultWorkbenchDecorator. You can declare your own implementation in you application launcher by overwriting "WorkbenchDecorator getWorkbenchDecorator()". Please take a look to the default implementation, maybe you can find the issue there. THX

[2016-09-22 06:37] amoAHCP commented on #51
Hi, i did some test and changed some lines... but in my case I cant't see the issue... the thread will be interrupted and no reference to EmbeddedFXComponent stays... anyway I created a JacpFX 2.1.1 branch. Maybe you can provide an example and test 2.1.1-SNAPSHOT on your own?

Thx

Andy

[2016-09-22 06:41] amoAHCP commented on #52
Hi, we had an implementation for "sendToAll" but we removed it quite a while ago. This is definitely something for 3.0

[2016-09-22 07:00] amoAHCP commented on #53
fixed in https://github.com/JacpFX/JacpFX/commit/49ba3ed1e9cf8cdef5e19ac0afced60bbc734b30

[2016-09-22 07:00] #53 closed

[2016-09-22 07:06] amoAHCP commented on #55
Hi, it is not intended to put multiple components to one target layout. The idea is (in your case) to add containers to your StackPane and define them as target Layout (I know that you get one more container)... you could do:

StackPane main = ...
Group one =...
Group two = ...

main.getChildren().addAll(one,two);

perspectiveLayout.registerTargetLayoutComponent("one", one);
perspectiveLayout.regi

[2016-09-22 07:06] #55 closed

[2016-09-22 08:24] mg-2014 commented on #51
Hi Andy,
thanks. I will verify it at the weekend.

Concerning the use of `context.setActive()`... My use case is that I have menu items that open different views in the same target layout. Setting a single view to active state and all others to inactive state seemed to be the way to go. Thus I'm sending `activate` and `inactivate` messages and use `context.setActive()` in the handle() method.

[2016-09-22 08:34] mg-2014 commented on #55
Hi Andy,
OK. I'll try it the way you described and check if it works.
Thanks.

Concerning the `PerspectiveHandlerImpl`... Does that mean the code of `bringRootToFront()` is actually correct?

[2016-09-25 12:49] mg-2014 commented on #51
With the current SNAPSHOT on {{JacpFX_2.1.1}} the issue seems to be fixed. I deactivated/activated the same component like 20 times and couldn't observe the issue anymore.
Thanks.

[2016-09-25 16:38] mg-2014 commented on #57
After `FXWorkbench.postHandle()` is called where I define the toolbar buttons I get the following situation:
1. The `ChangeListener`s of `heightProperty` and `widthProperty` of all the toolbar panes are triggered with some initial values (in my case: `12`).
2. The stage gets shown.
3. The `ChangeListener`s of `heightProperty` and `widthProperty` of all the toolbar panes are triggered with the corr

[2016-09-27 07:37] tranquility79 opened #59 "NPE if no workbench size is set."
@Workbench(id = "workbench", perspectives = { BaseConfiguration.PERSPECTIVE_MASTERDATA,
		BaseConfiguration.PERSPECTIVE_SEARCH})
public class MyWorkbench implements FXWorkbench {

	public void postHandle(FXComponentLayout layout) {
		System.out.println("postHandle");
	}

	public void handleInitialLayout(Message<Event, Object> action, WorkbenchLayout<Node> layout, Stage stage) {
		//layout.setWorkb

[2016-09-27 08:15] #51 closed

[2016-09-27 08:15] amoAHCP commented on #59
fixed in https://github.com/JacpFX/JacpFX/commit/e282829c4e18098e99bd59ed6ba5bf7010d924a8

[2016-09-27 08:15] #59 closed

[2016-09-27 08:21] tranquility79 commented on #59
Cool. Thx. 👍

[2016-09-28 11:51] tranquility79 commented on #55
Can you please document this behaviour in http://jacpfx.org/documentation_main.html ? Today, I have spend a couple of hours for this issue.

[2016-09-28 12:09] JacpFX commented on #55
OK

Andy

[2016-10-03 16:06] tranquility79 opened #60 "Small issue in JavaDoc for SpringXmlConfigLauncher?"
The JavaDoc says:

/**
- The SpringLaucher class resolves the **spring.xml** file and handles access to
- beans
  *
- @author Andy Moncsek
  *
  */

private final String BASIC_CONFIG_BEANS = "**basic.xml**";

[2017-03-24 12:30] anhnguyenbk opened #61 "Implementation multilingual using JacpFX?"
I have a perspective with two components.  When user switch to other languages, component will send a message to the perspective. In `handlePerspective` method, I call `Locate.setDefault()` to set corresponding locale and call `context.send(FXUtil.MessageUtil.INIT)` to init this perspective. But it not working at all.
I don't know how to implementation multilingual using JacpFX.  Anyone can help m

[2017-03-31 03:07] #61 closed

[2017-03-31 06:33] trankimvu commented on #61
Why don't you share a few lines on what you did before you close the issue, Hoang Anh?

[2017-03-31 09:55] anhnguyenbk commented on #61
Component render itself bring me to light :((

[2017-08-23 09:30] amoAHCP commented on #60
fixed in https://github.com/JacpFX/JacpFX/commit/0d5134842dbb430a89420e52b9510d917541e51a

[2017-08-23 09:30] #60 closed

[2018-03-24 17:43] Nhorth opened #65 "UI doesnt show created elements at runtime"
Hello all,

I want to dynamically add multiple fragments at runtime. The problem is, I can add them and when I print out the length of the children it shows the right amount, BUT i dont see the newly created elements on the screen. I think its a problem with dependency injection.

DragIcon is the fragment i want to add to the leftPane which is a VBox.

What do i miss?

Thank you.

`        leftPan

[2018-03-26 13:45] JacpFX commented on #65
Hi,

Is the fragment node Null? I don’t see a relation to the dependency injection. Can you provide a more detailed example?

Thx

Andy

Von: Nhórth <notifications@github.com>
Antworten an: JacpFX/JacpFX <reply@reply.github.com>
Datum: Samstag, 24. März 2018 um 18:44
An: JacpFX/JacpFX <JacpFX@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Betreff: [JacpFX/JacpFX] UI doesnt show

[2018-11-11 16:42] velteyn opened #68 "Cannot run Tutorial - spring cannot find Context"
Hello, Im'm very sorry for this noobish question.
I'm a spring framework student.

I followed the tutorial http://jacpfx.org/documentation_quickstart.html
to the letter.

When I start the launcher I obtain this error:

No qualifying bean of type [org.jacpfx.rcp.context.Context] found for dependency: expected at least 1 bean which qualifies as autowire candidate for this dependency

Can some Spring

[2018-11-17 17:58] #68 closed, assigned to nobody

[2018-11-17 17:59] velteyn commented on #68
.... I used MAVEN BUILD to resolve

[2019-09-24 14:32] huynhthanhbinh opened #72 "Packaging executable jar file: jar file cannot start like debug using intelliJ IDE"
I am trying to make a JavaFX application using JACP FX, Maven, SpringBoot, MapStruct, Lombok.
All thing works normally as I use IntelliJ IDE to debug. App runs normally, from start to close !

But when I decide to package it as a jar (using spring-boot-maven-plugin), the jar cannot start !
An exception was thrown:  **ComponentNotFoundException**, I see it cannot find the perspective !

- My workbe

[2019-10-05 18:39] smac89 opened #73 "Use ClassLoader for loading fxml resources for Java 9 modules"
My modular application is failing to run under java 11 with modules but works with java 8.

After a while of debugging the same application under both versions, I came to the realization that the fxml loader is failing to find my fxml files and returning null. I eventually discovered that the reason for this is that `PerspectiveHandlerImpl::initDeclarativePerspectiveLayout` is using `getClass().ge

[2022-04-13 13:29] SMONTA commented on #72
I encountered same issue as you. I'm using spring boot 2.6.6 , java 17, javafx 17 and jacpFx lib.
I seems that the issue comes from maven plugin
`<plugin>
        <groupId>org.springframework.boot</groupId>
        <artifactId>spring-boot-maven-plugin</artifactId>
      </plugin>`

I found a workaround to create the jar file using an other maven plugin.
I used maven-assembly-plugin instead of spri